{% extends "iddacultura/base.html" %}
{% load absolute %}
{% block title %}Perfil do usuário{% endblock %}
{% block head %}
    {{block.super}}
    <meta http-equiv="x-xrds-location" content="{% absolute iddacultura.provider.views.user_xrds profile.user.username %}" />
{% endblock %}
{% block content %}
    <h1>Perfil do usuário {{ user }}</h1>
    {% ifequal request.user.username profile.user.username %}
        <p><b>Nome</b>:<br /> {{ profile.user.get_full_name }}</p>
        <p><b>E-mail</b>:<br /> {{ profile.user.email }}</p>
        <p><b>CPF</b>:<br /> {{ profile.cpf }}</p>
    {% else %}
        <p>Identidade OpenID do usuário {{ profile.user.username }}</p>
    {% endifequal %}
{% endblock %}
