{% extends "iddacultura/base.html" %}
{% load absolute %}
{% block title %}Perfil do usuário{% endblock %}
{% block head %}
    {{block.super}}
    <meta http-equiv="x-xrds-location" content="{% absolute iddacultura.provider.views.user_xrds profile.user.username %}" />
{% endblock %}
{% block content %}
    <h1>Perfil do usuário {{ user }}</h1>
    {% ifequal request.user.username profile.user.username %}
    	<p><b>Nome</b>: {{ profile.user.get_full_name }}</p>
    	<p><b>E-mail</b>: {{ profile.user.email }}</p>
    	<p><b>CPF</b>: {{ profile.cpf }}</p>
        <p><b>Grupo</b>: {{ profile.user_occupation_primary }}</p>
        <p><b>Sub-grupo principal</b>: {{ profile.user_occupation_secondary }}</p>
        <p><b>Sub-grupo</b>: {{ profile.user_occupation_tertiary }}</p>
        <p><b>Família</b>: {{ profile.user_occupation_quartenary }}</p>
        <p><b>Ocupação</b>: {{ profile.user_occupation_quinary }}</p>
    {% else %}
        <p>Identidade OpenID do usuário {{ profile.user.username }}</p>
    {% endifequal %}
{% endblock %}
