{% load staticfiles %}
{% load sidebar %}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <link rel="stylesheet" href="{{ BOOTSTRAP_CSS_URL }}">
            <link rel="stylesheet" href="{% static "css/style.css" %}">
            <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <div class="wrap">
        <header id="header" class="clearfix">
            <a href="{% url homepage %}" title="ID da Cultura"><img src="{% static "images/minc.png" %}" alt="logo" class="logo" /></a>
            <h1 class="title">ID da Cultura</h1>
            {% if request.user.is_authenticated %}
            <span class="user_welcome">Olá <b>{{request.user.username}}</b></span>
            {% endif %}
        </header>
        {% block middle %}
            <div class="content_all clearfix">
                {% if request.user.is_authenticated %}
                    {% sidebar %}
                {% endif %}
                <section id="content" class="col-9">
                    {% block content %}{% endblock %}
                </section>
                {% if not request.user.is_authenticated %}
                    {% sidebar %}
                {% endif %}
                <footer id="footer" class="col-12 clear">Ministério da Cultura 2013 - Governo Federal</footer>
            </div>
        {% endblock %}
    </div>
</html>
