<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <a href='{% url profiles.views.edit_profile %}'>Editar perfil</a>
            <a href='{% url auth_logout %}'>Sair</a>
        {% else %}
            <a href='{% url auth_login %}'>Entrar no site</a><br />
            <a href="{% url registration_register %}">Criar novo usuário</a>
        {% endif %}
        <br /><br />
        {% block content %}{% endblock %}
    </body>
</html>