{% extends "iddacultura/base.html" %}
{% load absolute %}
{% load registration_form %}

{% block head %}
    {{block.super}}
    <meta http-equiv="x-xrds-location" content="{% absolute "openid-provider-xrds" %}" />
{% endblock %}

{% block title %}Página inicial{% endblock %}

{% block right_bar %}
        {% if not request.user.is_authenticated %}
            {% registration_form %}
        {% else %}
            <div id="registro" class="box-registro col-5">
                <h5 class="textcenter">Crie uma conta</h5>
                <p>Você já possui uma conta e está autenticado!</p>
                <div class="textright"><a class="botao-grande" href="{% url profiles_profile_detail request.user.username %}">Ver meu perfil</a></div>
            </div>
        {% endif %}
{% endblock %}
