{% if form.errors %}
    <ul class="errorlist">
        <li>Usuário ou senha inválido.</li>
    </ul>
{% endif %}
<form id="access_login" method="post" action="">
    {% csrf_token %}

    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% else %}
        <input type="hidden" name="next" value="{% url "iddacultura.views.user_profile" %}" />
    {% endif %}
    <p>
    {{ form.username.label_tag }}
    {{ form.username }}
    </p>
    <p>
    {{ form.password.label_tag }}
    {{ form.password }}
    </p>
    <p class="textright"><input type="submit" value="Entrar" name="enviar" /></p>
</form>

<div class="small">
    <a href="">Esqueceu sua senha?</a> |
    {% if next %}
    <a href="" title="Cadastre-se">Cadastre-se</a>
    {% else %}
        <a href="" title="Cadastre-se">Cadastre-se</a>
    {% endif %}
</div>

