<div id="registro" class="box-registro col-4">
    {% if request.user.is_authenticated %}
        <p>Você já está autenticado!</p>
    {% else %}
            <h5 class="textcenter">Crie uma conta</h5>
            <form method='post'>
                <table>
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                    {% endif %}
                    {{ form }}
                    <tr>
                        <td></td>
                        <td class="textright">
                            <a class="small" href="{% url auth_login %}">Já tenho uma conta</a>
                            <input type="submit" value="criar conta" />                            
                        </td>
                    </tr>
                </table>
            </form>
    {% endif %}
</div>