{% load registration_form %}

{% if user.is_authenticated %}
    <aside id="sidebar" class="box-registro col-4">
        <nav id="menu">
            <a href="{{ viewprofile }}" {% if path == viewprofile %} class="active" {% endif %} title="Perfil">Perfil</a>
            <a href="{{ editprofile }}" {% if path == editprofile %} class="active" {% endif %} title="Editar perfil">Editar perfil</a>
            <a href="{{ chpassword }}" {% if path == chpassword %} class="active" {% endif %} title="Alterar senha">Alterar senha</a>
    </aside>
{% else %}
    {% registration_form %}
{% endif %}
