{% load login_form %}

{% if user.is_authenticated %}
    <aside id="sidebar" class="col-3 left alpha">
        <nav id="menu">
            <a href="{% url homepage %}" class="active" title="Página inicial">Página inicial</a>
            <a href="{% url profiles.views.profile_detail user.username %}" title="Ver perfil">Ver perfil</a>
            <a href="{% url profiles.views.edit_profile %}" title="Editar perfil">Editar perfil</a>
            <a href="{% url django.contrib.auth.views.password_change %}" title="Alterar senha">Alterar senha</a>
            <a href="{% url auth_logout %}" title="Sair">Sair</a>
        </nav>
    </aside>
{% else %}
    <aside id="sidebar" class="col-3">
        {% login_form %}
        <div class="clear"></div>
        <a href="{% url registration_register %}" title="Cadastrar-se" class="cadastrar_se">Cadastrar-se</a>
    </aside>
{% endif %}