{% load login_form %}

{% if user.is_authenticated %}
    <aside id="sidebar" class="col-3 left alpha">
        <nav id="menu">
            <span>Logado como <b><i>{% if user.is_authenticated %} {{user.username}} {% endif %}</i></b></span>
            <a href="{{ homepage }}" {% if path == homepage %} class="active" {% endif %} title="Página inicial">Página inicial</a>
            <a href="{{ viewprofile }}" {% if path == viewprofile %} class="active" {% endif %} title="Ver perfil">Ver perfil</a>
            <a href="{{ editprofile }}" {% if path == editprofile %} class="active" {% endif %} title="Editar perfil">Editar perfil</a>
            <a href="{{ chpassword }}" {% if path == chpassword %} class="active" {% endif %} title="Alterar senha">Alterar senha</a>
            <a href="{% url auth_logout %}" title="Sair">Sair</a>
        </nav>
    </aside>
{% else %}
    <aside id="sidebar" class="col-3">
        <h1>Cadastre-se</h1>
        <form method='post'>
            <table>
                {% csrf_token %}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}
                {{ form }}
                <tr><td></td><td><input type="submit" value="Registrar" /></td></tr>
            </table>
        </form>
    </aside>
{% endif %}
