/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before, blockquote:after {
    content: '';
    content: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}

/* =Layout
-------------------------------------------------------------- */

.wrap { width: 960px; margin: 0 auto; padding: 0; clear: both; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; margin-left: 10px; margin-right: 10px; display: inline; }
.col-1 { width: 60px; }
.col-2 { width: 140px; }
.col-3 { width: 220px; }
.col-4 { width: 300px; }
.col-5 { width: 380px; }
.col-6 { width: 460px; }
.col-7 { width: 540px; }
.col-8 { width: 620px; }
.col-9 { width: 700px; }
.col-10 { width: 780px; }
.col-11 { width: 860px; }
.col-12 { width: 940px; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear { clear: both; }
.first { margin-left: 0; }
.last { margin-right: 0; }
.left{float: left !important;}
.right{float: right !important;}
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

input[type="text"], input[type="submit"], input[type="password"], textarea, select { background: #F8F8F8; border: 1px solid #DDDDDD; padding: 6px 0; font: 12px/22px Arial, Helvetica, sans-serif; box-shadow: inset 2px 2px 4px #F2F2F2, inset -2px -2px 4px #F2F2F2; -webkit-box-shadow: inset 2px 2px 4px #F2F2F2, inset -2px -2px 4px #F2F2F2; -moz-box-shadow: inset 2px 2px 4px #F2F2F2, inset -2px -2px 4px #F2F2F2; width: 100%;  }
input[type="submit"]{
    width: auto !important;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 8px;
    background: #F0F0F0 !important;
    background: -webkit-linear-gradient(top,#F3F3F3,#E1E1E1) !important;
    background: -ms-linear-gradient(top,#F3F3F3,#E1E1E1) !important;
    background: -moz-linear-gradient(top,#F3F3F3,#E1E1E1) !important;
    background: -o-linear-gradient(top,#F3F3F3,#E1E1E1) !important;
    text-shadow: 1px 1px 0 #FFF;
}
input[type="submit"]:active{
    box-shadow: 0 0 0 #E8E8E8, inset 2px 2px 3px #E1E1E1;
    -webkit-box-shadow: 0 0 0 #E8E8E8, inset 2px 2px 3px #E1E1E1;
    -moz-box-shadow: 0 0 0 #E8E8E8, inset 2px 2px 3px #E1E1E1;
}
input[type="submit"]:hover{ background: #E9E9E9; }
/* HTML5 */
section, article, header, footer, nav, aside, hgroup { display: block; }


/* =Fonts
-------------------------------------------------------------- */
body { font: 14px/22px Arial, Helvetica, sans-serif; }
pre { font-family: Verdana, sans-serif; font-size: 12px; } 
code { font-family: "Courier New", monospace; font-size: 13px; }
h1,h2,h3,h4,h5,h6 { margin-bottom: 22px; color: #000; clear: both; }
h1 { font-size: 36px; line-height: 44px; }
h2 { font-size: 30px; line-height: 44px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

/* =Global Elements
-------------------------------------------------------------- */
body { background: #006938 /*url(img/grid.png)*/; }
body, input, textarea { color: #666; }
hr { background-color: #ccc; border: 1px solid #fff; clear: both; height: 1px; margin-bottom: 22px; }

/* Text elements */
p { margin-bottom: 22px; }
ul { list-style: disc; margin: 0 0 22px 1.5em; }
ol { list-style: decimal; margin: 0 0 22px 1.5em; }
ol ol { list-style: upper-alpha; }
ol ol ol { list-style: lower-roman; }
ol ol ol ol { list-style: lower-alpha; }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }
dl { margin: 0 0 24px 0; }
dt { font-weight: bold; }
dd { margin-bottom: 22px; }
strong { font-weight: bold; }
cite, em, i { font-style: italic; }
big { font-size: 131.25%; }
ins { background: #ffc; text-decoration: none; }
blockquote { font-style: italic; padding: 0 3em; color: #999; }
blockquote cite, blockquote em, blockquote i { font-style: normal; }
pre { background: #e6e6e6; line-height: 22px; margin-bottom: 22px; padding: 1.5em; }
abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 1ex; }
sub { top: .5ex; }
a { color: #36c; text-decoration: none; outline: none; }
a:visited { color: #69c; text-decoration: none; }
a:active, a:hover { text-decoration: underline; }

/* Content all
---------------------------------------------------------------------------*/ 
/*Default*/
.centerdiv {
    margin: auto;
    width: 220px;
}
/*Header*/
#header {
    margin: 15px 0;
}
#header .logo {
    float: left;
}
#header .user_welcome {
    float: left;
    color: #FFF;
    margin: 28px 0 0 20px;
}
#header .title {
    font-family: 'Arial', sans-serif;
    float: right;
    color: #FFF;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 52px;
    text-shadow: 2px 2px 0 #004022;
    font-weight: normal;
    clear: none;
}

/*content*/
.content_all {
    background: #FFF;
    display: block;
}
.content_all h1 {
    color: #666;
}
#content {
    margin-top: 10px;
}
#content input, #content textarea, #content select {
    display: block;
    margin-bottom: 5px;
}
#content .styleforms_none input, #content .styleforms_none textarea, #content .styleforms_none select {
    width: auto;
    display: inline-block;
}
ul.list_user {
    display: block;
    list-style: none;
}
ul.list_user li {
    margin: 10px 0;
}
ul.list_user li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}
ul.list_user li a:hover {
    color: #000;
}
/*Sidebar*/
#access_login label, #access_login input {
    display: block;
}
#access_login input[type="text"], #access_login input[type="password"] {
    font-size: 16px;
}
#sidebar a.cadastrar_se {
    width: 100%;
    display: block;
    background: #FDDD04;
    background: -webkit-linear-gradient(top,#FDDD04,#D5BA02);
    background: -moz-linear-gradient(top,#FDDD04,#D5BA02);
    background: -o-linear-gradient(top,#FDDD04,#D5BA02);
    box-shadow: inset 2px 1px 0 #FDE435;
    -webkit-box-shadow: inset 1px 1px 0 #FDE435;
    -moz-box-shadow: inset 1px 1px 0 #FDE435;
    -o-box-shadow: inset 1px 1px 0 #FDE435;
    text-shadow: 1px 1px 0 #C6AD03;
    border: solid 1px #C1AA02;
    text-align: center;
    margin-top: 10px;
    padding: 15px 0;
    font-size: 22px;
    color: #FFF;
}
h1.title_login {
    text-align: center;
    margin: 10px 0 0 0; 
}
/*error*/
ul.errorlist {
    list-style: none;
    margin: 0;
}
ul.errorlist li {
    background: #ffc4c4;
    padding: 5px 10px;
    border: solid 2px rgb(252, 164, 164);
    color: rgb(165, 30, 30);
    margin: 0 0 15px 0;
    font-size: 12px;
}

/*menu*/
#menu a, #menu span {
    display: block;
    background: #FAFAFA;
    color: #888;
    font-size: 17px;
    padding: 10px;
    border-bottom: solid 1px #E6E6E6; 
    border-right: solid 1px #E6E6E6;
}
#menu a:hover {
    background: #F3F3F3;
    text-decoration: none;
}
#menu a.active {
    background: #E9E9E9;
}
/*footer*/
#footer {
    text-align: center;
    border-top: solid 1px #ECECEC;
    padding: 10px 0;
    margin-top: 10px;
}
