{% extends "registration/registration_base.html" %}
{% load login_form %}
{% block title %}Login{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <p>Você já está autenticado!</p>
    {% else %}
        <div class="centerdiv sombra col-4">
            {% if messages %}
                <ul class="mensagem">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% login_form %}
        </div>
    {% endif %}
{% endblock %}
