{% extends "iddacultura/base.html" %}
{% load login_form %}
{% block title %}Login{% endblock %}
{% block right_bar %}
    <div class="box-registro col-5">
    <h5 class="textcenter">Entrar com o ID da Cultura</h5>

    {% if request.user.is_authenticated %}
        <p>Você já possui uma conta e está autenticado!</p>
        <div class="textright"><a class="botao-grande" href="{% url profiles_profile_detail request.user.username %}">Ver meu perfil</a></div>
    {% else %}
        {% if messages %}
             <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="mensagem {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% login_form %}
    </div>
    {% endif %}
{% endblock %}
