{% extends "registration/registration_base.html" %}
{% load login_form %}
{% block title %}Login{% endblock %}
{% block content %}
    <h2 class="textcenter">Entrar com o ID da Cultura</h2>   
    <div class="box-registro col-4">
    {% if request.user.is_authenticated %}
        <p class="mensagem alerta textcenter">Você já está autenticado!</p>
    {% else %}
        {% if messages %}
             <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="mensagem {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% login_form %}
    </div>
    {% endif %}
{% endblock %}
