{% extends "registration/registration_base.html" %}
{% block title %}Alterar senha{% endblock %}
{% block content %}
<div class="box-registro col-4">
    <p class="mensagem ajuda">Esqueceu sua senha? Coloque seu endereço de e-mail no campo abaixo e te enviaremos uma mensagem com instruções sobre como recuperá-la.</p>
    <form method='post' action=''>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="textright"><input type='submit' value="Alterar senha" /></div>
    </form>
</div>
{% endblock %}
