{% extends "registration/registration_base.html" %}
{% block title %}Criar nova conta{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <p>Você já está autenticado!</p>
    {% else %}
        <div class="box-registro col-8">
            <h3 class="textcenter">Crie uma conta</h3>
            <form method='post'>
                <table>
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                    {% endif %}
                    {{ form }}
                    <tr><td></td><td class="textright"><input type="submit" value="criar conta" /></td></tr>
                </table>
            </form>
        </div>
    {% endif %}
{% endblock %}
