{% extends "registration/registration_base.html" %}
{% block head %}{{block.super}}<script src="{{ STATIC_URL }}js/edit_profile.js"></script>{% endblock %}
{% block title %}Criar nova conta{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <p>Você já está autenticado!</p>
    {% else %}
        <div class="centerdiv col-5">
            <h1>Cadastre-se</h1>
            <table>
                <form method='post' action=''>
                    {% csrf_token %}
                    {{ form }}
                    <tr><td></td><td><input type="submit" value="Registrar" /></td>
                </form>
            </table>
        </div>
    {% endif %}
{% endblock %}
