{% extends "registration/registration_base.html" %}
{% block title %}Criar nova conta{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <p>Você já está autenticado!</p>
    {% else %}
        <div class="centerdiv col-5">
            <h1>Cadastre-se</h1>
            <form method='post'>
                <table>
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                    {% endif %}
                    {{ form }}
                    <tr><td></td><td><input type="submit" value="Registrar" /></td></tr>
                </table>
            </form>
        </div>
    {% endif %}
{% endblock %}
