{% load staticfiles %}
<header id="main-header" class="clearfix">
    <h1 id="{% if brand_logo %}brand-logo{% else %}brand-text{% endif %}">
        <a href="{{ site_conf.default_url }}" title="{{ site_conf.default_name }}">
            {% if site_conf.brand_logo %}
            <img src="{% static 'img/brand_logo.png' %}" alt="{{ site_conf.default_name }}" />
            {% else %}
            Mapas Culturais
            {% endif %}
        </a>
    </h1>
    <h1 id="logo-iddacultura"><a href="{% url 'homepage' %}" title="ID da Cultura">ID da Cultura</a></h1>
    <nav id="about-nav" class="alignright clearfix">
        <h1 id="logo-smc">
            <a href="{{ site_conf.org_url }}" target="_blank" title="{{ site_conf.org_name }}">
                <img src="{% static 'img/marca-da-org.png' %}" alt="{{ site_conf.org_name }}"  />
            </a>
        </h1>
    </nav>
    <nav id="main-nav" class="alignright clearfix">
        <ul class="menu logado clearfix">
            {% if not request.user.is_authenticated %}
            <li class="entrar">
                <a class="icone icon_lock" href="{% url 'account_login' %}"></a>
                <a href="{% url 'account_login' %}">Entrar</a>
            </li>
            {% else %}
            <li class="user-name">
                <a class="icone icon_id" href="{% url 'profiles_profile_detail' request.user.username %}"></a>
                <a href="{% url 'profiles_profile_detail' request.user.username %}">{{user.username}}</a>
                <ul class="submenu">
                    <div class="setinha"></div>
                    <li><a href="{{ site_conf.org_url }}">{{ site_conf.org_name }}</a></li>

                    <li><a href="{% url 'account_logout' %}">Sair</a></li>
                </ul>
            </li>
            {% endif %}

        </ul>
    </nav>
</header>
