<h2>ID da Cultura</h2>
<p class="big">Uma única conta, vários serviços</p>
<p>O ID da Cultura é um provedor de <a href="http://openid.net/">OpenID</a>, ou seja, um sistema de identificação aberto que permite o acesso a vários sites através de uma única conta de usuário.</p>
<p>É um sistema rápido, fácil e seguro que foi adotado para que os usuários se cadastrem e acessem o <a href="{{ site_url }}">Mapas Culturais</a>. No futuro, esse mesmo sistema poderá ser usado em outros serviços na área cultural ou de organizações que estabeleçam convênio, facilitando a vida dos usuários.</p>
<p>Faça um cadastro através do formulário ao lado e comece a usar os serviços do ID da Cultura!</p>