{% extends "iddacultura/base_left_bar.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <h3>Editar perfil do usuário {{ user }}</h3>
        <form class="form-perfil" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="textright"><input id="submit" type="submit" name="submit" value="atualizar" /></div>
        </form>
        <script>
            // temporarly fix required attribute
            document.addEventListener("DOMContentLoaded", function() {
                document.querySelector('.form-perfil').email.required = true
            });
        </script>
{% endblock content %}