{% extends "iddacultura/base_left_bar.html" %}
{% load absolute %}

{% block title %}Perfil do usuário{% endblock %}

{% block head %}
    {{block.super}}
    <meta http-equiv="x-xrds-location" content="{% absolute 'openid-provider-identity' object.openid_set.first.openid %}" />
{% endblock %}

{% block content %}
    <h3>Perfil do usuário {{ object.username }}</h3>
    {% ifequal request.user.username object.username %}
        <p>Nome completo:<br /> {{ object.get_full_name }}</p>
        <p>Nome de usuário:<br /> {{ object.username }}</p>
        <p>E-mail:<br /> {{ object.email }}</p>
    {% else %}
        <p>Identidade OpenID do usuário {{ object.username }}</p>
    {% endifequal %}
{% endblock %}
